/* .recently {
  .recently__content {
    .recently__slider {
      .owl-stage-outer {
        .owl-stage {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
} */
// custom owl-carousel nav
.owl-nav {
  .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    &:focus {
      outline: none;
    }
    &:hover {
      border-radius: 50%;
      background: 0 0;
      i {
        background-color: $color-gray-12;
      }
    }
    i {
      height: 48px;
      width: 48px;
      line-height: 48px;
      color: $color-black-2;
      border-radius: 50%;
      background-color: $color-white-1;
      box-shadow: 0 2px 5px 0 $color-black-4;
    }
  }
  .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    &:focus {
      outline: none;
    }
    &:hover {
      border-radius: 50%;
      background: 0 0;
      i {
        background-color: $color-gray-12;
      }
    }
    i {
      height: 48px;
      width: 48px;
      line-height: 48px;
      color: $color-black-2;
      border-radius: 50%;
      background-color: $color-white-1;
      box-shadow: 0 2px 5px 0 $color-black-4;
    }
  }
}
